@import "../variables.scss";

.section-home__header {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "Vidaloka", sans-serif;
  margin: 0 150px;
  transition: 1s;
}

.section-home__header_black-separator {
  border-bottom: 1px solid  rgba(0, 0, 0, 0.3);
}

.header__menu {
  display: flex;
  margin: 0 auto;
}

.header__menu-item {
  height: 40px;
  position: relative;
  margin-right: 45px;
  color: $color-1;
  font-size: $font-size12;
  font-weight: 400;
  text-transform: uppercase;
  transition: $animation-time;
  &:last-child{
    margin-right: 0;
  }
  &:before,
  &:after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: $color-3;
    transition: $animation-time;
  }
  &:before {
    right: 50%;
  }
  &:after {
    left: 50%;
  }
  &:hover,
  &:focus {
    color: $color-3;
    &:before {
      width: 48%;
    }
    &:after {
      width: 50%;
    }
  }
}

//.header__menu-link {
//
//}

