@import "../variables.scss";

.our-team__h {
  font-family: $font-family2;
  font-size: $font-size5;
  color: $color-10;
  margin: 0 auto;
  text-align: center;
}


.our-team__description {
  font-family: $font-family2;
  font-size: $font-size9;
  line-height: 26px;
  color: $color-4;
  margin: 25px auto 0;
  text-align: center;

}

.our-team__workers-cards {
  display: flex;
  margin: 80px auto 0;

}

