@import "../variables.scss";

.portfolio__h {
  font-family: $font-family2;
  font-size: $font-size5;
  color: $color-10;
  text-align: center;
}

.portfolio__description {
  font-family: $font-family3;
  font-size: $font-size9;
  color: $color-4;
  text-align: center;
  margin-top: 25px;
  line-height: 26px;
}

.portfolio__images-high-res-bg {
  background-color: #f3f3f3;
}

.portfolio__images-wrapper {
  display: flex;
  //flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 2440px;
  position: relative;
  margin: 40px auto 0;
  transition: 3s;

}

.portfolio__square-pictures-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}



.portfolio__image1,
.portfolio__image2,
.portfolio__image3,
.portfolio__image4,
.portfolio__image5,
.portfolio__image6 {
  transition: $animation-time;
  width: 100%;
  height: auto;
  border-radius: 1px;
}


.portfolio__image1 {
  max-width: 20%;

}

.portfolio__image2 {
  max-width: 48.6%;

}

.portfolio__image3 {
  max-width: 51.4%;

}

.portfolio__image4 {
  max-width: 31.5%;

}

.portfolio__image5 {
  max-width: 26.45%;
  //align-self: flex-end;
  //justify-self: flex-start;
}

.portfolio__image6 {
  max-width: 42%;
  //align-self: flex-end;
  //justify-self: flex-start;
}

.portfolio__learn-more-btn {
  display: block;
  color: white;
  margin: 50px auto 20px;
  min-width: 50px;
  min-height: 30px;
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  text-transform: uppercase;
  background: $color-3;
  border-radius: 20px;
  transition: $animation-time;
  font-family: $font-family3;
  box-shadow: 0 0 42px -12px rgba(0,188,212,0.3);
  &:hover,
  &:focus {
    background-color: white;
    color: $color-3;
    transform: scale(1.3);
    box-shadow: none;
  }
  &:active {
    opacity: 0.3;
    box-shadow: none;
  }

}


