@import "./functions";
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


@font-face {
    font-family: "Backto Black Demo";
    src: url("../assets/fonts/Back-to-Black-Demo.ttf") format('truetype');
}

