@import "./clear";
@import "./variables";
@import "./mixins";
@import "./fonts.scss";
@import "styles-components/header";
@import "styles-components/general-h";
@import "styles-components/features";
@import "styles-components/statistic";
@import "styles-components/portfolio";
@import "styles-components/services";
@import "styles-components/our-team";

html,
body {
    height: 100%;

}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: 1s;
}

.section__content {
    max-width: $content-max-width;
    margin: 0 auto;
}

.app__section-home {
    background: url("../assets/images/static/home-background.jpg") no-repeat 50%/ cover;
    transition: 1s;
}

.section-home_no-changed-bg {
    padding: 30px 20px 150px;
    transition: 1s;
}

.section-home_changed-bg {
  background: rgb(255, 255, 255);

    .header__menu-item {
      color: black;
    }
}

.app__section-features {
    padding: 60px 20px 120px;
    transition: 1s;
}

.app__section-features_changed-bg {
    background: black;

}

.app__section-statistic {
  padding: 80px 20px 80px;
  background: url("../assets/images/static/statistic-background.jpg") no-repeat 50%/ cover;
}


.app__section-portfolio {
  padding: 80px 0 50px;

}

.app__section-portfolio_fade-out {
  display: block;
}


.app__section-services {
  padding: 80px 20px 50px;
  background: url("../assets/images/static/statistic-background.jpg") no-repeat 50%/ cover;
  }

.app__section-our-team {
  padding: 80px 20px 50px;

}

