@import "./clear";
@import "./variables";
@import "./mixins";
@import "./fonts.scss";
@import "styles-components/header";
@import "styles-components/general-h";
@import "styles-components/features";

html,
body {
    height: 100%;

}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: 1s;
}

.section__content {
    max-width: $content-max-width;
    margin: 0 auto;
}

.app__section-home {

    background: url("../assets/images/static/home-background.jpg") no-repeat 100%/ cover;
    transition: 1s;
}

.section-home_no-changed-bg {
    padding: 30px 20px 150px;
    transition: 1s;
}

.section-home_changed-bg {
  background: rgb(255, 255, 255);

    .header__menu-item {
      color: black;
    }
}



.app__section-features {
    padding: 70px 20px 120px;
    transition: 1s;
}

.app__section-features_changed-bg {
    background: black;
}


