@import "./clear";
@import "./variables";
@import "./mixins";
@import "./fonts.scss";
@import "styles-components/header";
@import "styles-components/general-h";
@import "styles-components/features";
@import "styles-components/statistic";
@import "styles-components/portfolio";
@import "styles-components/services";
@import "styles-components/our-team";
@import "styles-components/our-clients";
@import "styles-components/contacts";

html,
body {
    height: 100%;
}

  h2 {
    font-family: $font-family2;
    font-size: $font-size5;
    line-height: 59px;
    text-align: center;
  }

  p {
    font-family: $font-family2;
    font-size: $font-size9;
    line-height: 26px;
    color: $color-4;
    text-align: center;
  }

  .app {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: 1s;
  }

  .app__scroll-to-top-btn {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    cursor: pointer;
    justify-content: center;
    font-family: $font-family2;
    font-size: $font-size4;
    background-color: $color-16;
    color: $color-1;
    opacity: 0;
    transition: $animation-time;
    z-index:3;
  }

  .section__content {
    max-width: $content-max-width;
    margin: 0 auto;
  }

  .app__section-home {
    background: url("../assets/images/static/home-background.jpg") no-repeat 50%/ cover;
    transition: 1s;
  }

  .section-home_no-changed-bg {
    padding: 30px 20px 150px;
    transition: 1s;
  }

  .section-home_changed-bg {
    background: rgb(255, 255, 255);

    .header__menu-item {
      color: black;
    }
  }

  .app__section-features {
    padding: 60px 20px 100px;
    transition: 1s;
  }

  .app__section-features_changed-bg {
    background: black;

  }

  .app__section-statistic {
    padding: 80px 20px 80px;
    background: url("../assets/images/static/statistic-background.jpg") no-repeat 50%/ cover;
  }


  .app__section-portfolio {
    padding: 80px 0 50px;
  }

  .app__section-portfolio_fade-out {
    display: block;
  }


  .app__section-services {
    padding: 80px 20px 50px;
    background: url("../assets/images/static/statistic-background.jpg") no-repeat 50%/ cover;
  }

  .app__section-our-team {
    padding: 80px 20px 70px;
  }

  .app__section-our-clients {
    padding: 80px 20px 80px;
    background: url("../assets/images/static/statistic-background.jpg") no-repeat 50%/ cover;
  }

  .app__section-contacts {
    padding: 80px 20px 80px;
  }

@media screen and (max-width: 1050px ) {
  .section-home_no-changed-bg {
    overflow: hidden;
    padding: 0 20px 150px;
  }

  .app__section-features {
    padding: 60px 20px 80px;
  }

  .app__section-our-clients {
    padding: 80px 20px 80px;
  }
}

@media screen and (max-width: 790px ) {
  h2 {
    font-size: $font-size5;
    line-height: 45px;
  }

  p {
    font-size: $font-size9;
    line-height: 20px;
  }

  .app__section-features {
    padding: 40px 15px 50px;
  }

  .app__section-statistic {
    padding: 40px 15px 40px;
  }


  .app__section-portfolio {
    padding: 40px 0 25px;
  }

  .app__section-services {
    padding: 40px 15px 25px;
    background: url("../assets/images/static/statistic-background.jpg") no-repeat 50%/ cover;
  }

  .app__section-our-team {
    padding: 40px 15px 50px;
  }

  .app__section-our-clients {
    padding: 40px 10px 50px;
    background: url("../assets/images/static/statistic-background.jpg") no-repeat 50%/ cover;
  }

  .app__section-contacts {
    padding: 40px 15px 40px;
  }
}

@media screen and (max-width: 690px ) {
  h2 {
    font-size: $font-size6;
    line-height: 30px;
  }

  p {
    font-size: $font-size9;
    line-height: 20px;
  }
}


@media screen and (max-width: 440px ) {
  h2 {
    font-size: $font-size5;
    line-height: 40px;
  }

  p {
    font-size: $font-size9;
    line-height: 15px;
  }

  .app__section-features {
    padding: 25px 15px 30px;
  }

  .app__section-statistic {
    padding: 25px 15px 25px;
  }

  .app__section-portfolio {
    padding: 25px 0 15px;
  }

  .app__section-services {
    padding: 25px 15px 15px;
    background: url("../assets/images/static/statistic-background.jpg") no-repeat 50%/ cover;
  }

  .app__section-our-team {
    padding: 25px 15px 30px;
  }

  .app__section-our-clients {
    padding: 25px 10px 30px;
    background: url("../assets/images/static/statistic-background.jpg") no-repeat 50%/ cover;
  }

  .app__section-contacts {
    padding: 40px 15px 40px;
  }
}
