//GENERAL BEGIN
$animation-time: 0.3s;
$content-max-width: 1170px;
//GENERAL END

//COLORS BEGINS
$color-1: #ffffff;  // basic font white;
$color-2: #f1f1f1;  // borders grey;
$color-3: #00bcd4;  //basic blue, "Services" element blue;
$color-4: #969595;  //basic fonts grey;
$color-5: #dadada;  //basic icons grey;
$color-6: #f9f9f9;  //basic icons white;
$color-7: #ffeb3b;  //statistic items , portfolio element hover yellow;
$color-8: #000000;  //some black fonts;
$color-9: #181a1f;  //another black fonts;
$color-10: #333333; //H's fonts black;
$color-11: #2c333b; //?? strange background team icons layer black;
$color-12: #17191e; //"Statistic" and "Our clients" sections background element black;
$color-13: #4caf50; //"Services" element green;
$color-14: #673ab7; //"Services" element violet;
$color-15: #ff5252; //"Services" element red;
$color-16: #2196f3; //"Services" element blue;
$color-17: #434242; //"Services" font black;
$color-18: #ebd936; //"Features" hover icon yellow;
$color-19: #161921; //Footer background element black;
$color-20: #cccccc; //"Features" icon grey;
$color-21: #262a34; //upper-footer section background element black;
//COLORS END

//FONTS START
$font-family1: "Backto Black Demo", Fallback, sans-serif; //H's font;
$font-family2: "Vidaloka", serif;                         //first text font;
$font-family3: "Open Sans", sans-serif;                   //second text font;

$font-size1: 280px;
$font-size2: 110px;
$font-size3: 60px;
$font-size4: 51px;
$font-size5: 36px;
$font-size6: 34.5px;
$font-size7: 30px;
$font-size8: 20px;
$font-size9: 16px;
$font-size10: 15px;
$font-size11: 14px;
$font-size12: 13px;

$font-size13: 168px;
$font-size14: 66px;

$font-size15: 117.6px;
$font-size16: 46.2px;

$font-size17: 84px;
$font-size18: 33px;
//FONTS END




